#game-container {
    display: flex;
    flex-direction: row;
  }
  
  #register-form {
    flex: 1;
    padding: 20px;
  }
  
  #board {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
  }
  
  /* Resto de estilos... */
  